button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    font-size: 25px;
    transition: 0.3s;
}
button:hover{
    background-color: green;
}
.container{
    text-align: center;
    margin-top: 35px;
}